# Xiaomi nabu Android 16 compatibility fragment.
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BPF_EVENTS=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_FTRACE=y
CONFIG_UPROBE_EVENTS=y
CONFIG_DEBUG_INFO=y
# CONFIG_DEBUG_INFO_REDUCED
# CONFIG_DEBUG_INFO_SPLIT
CONFIG_DEBUG_INFO_DWARF4=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_DEBUG_FS=y
# CONFIG_DEBUG_KERNEL is not set
# CONFIG_DYNAMIC_DEBUG is not set
CONFIG_KALLSYMS=y
# CONFIG_KALLSYMS_ALL is not set
CONFIG_FRAME_POINTER=y
CONFIG_LOG_BUF_SHIFT=21
CONFIG_PRINTK_SAFE_LOG_BUF_SHIFT=13
CONFIG_PRINTK_TIME=y
CONFIG_PSTORE=y
CONFIG_PSTORE_ZLIB_COMPRESS=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_PANIC_TIMEOUT=-1
CONFIG_CMDLINE=""
CONFIG_CGROUPS=y
CONFIG_MEMCG=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_BPF=y
CONFIG_CPUSETS=y
# CONFIG_CGROUP_PIDS
# CONFIG_CGROUP_DEVICE
CONFIG_PSI=y
# Keep MGLRU available for controlled testing, but do not enable its broken
# v15 accounting path by default on this 4.14 PREEMPT_RT tree.
CONFIG_LRU_GEN=y
# CONFIG_LRU_GEN_ENABLED
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_MACH_XIAOMI_NABU=y
CONFIG_KSU=y
CONFIG_KSU_MANUAL_HOOK=y
# CONFIG_USER_NS
# CONFIG_PID_NS
